{% extends 'base.html' %}
{% load static %}
{% block title %}
   Sobre | Game Station
{% endblock %}
{% block content %}
<div>
   <div class="row">
      <div class="container" style="background-color: #4b28a6;">
         <nav class="navbar navbar-expand-lg navbar-light border border-primary" id="mainNav">
            <div class="container px-4 px-lg-5">
               <a class="navbar-brand text-primary" href="{% url 'index' %}">Home</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               Menu
               <i class="fas fa-bars"></i>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto py-4 py-lg-0">
                     <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-primary" href="{% url 'index'%}">Home</a></li>
                     <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-primary" href="{% url 'about' %}">About</a></li>
                     <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 text-primary" href="{% url 'post' %}">Post</a></li>
                  </ul>
               </div>
            </div>
         </nav>
         <hr>
      </div>
   </div>
   <div class="row">
      <div class="container mt-5 mx-auto">
         <section class="vh-100" style="background-color: #4b28a6;">
            <div class="container  h-100">
               <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col col-xl-10">
                     <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">

                           <div class="col d-flex align-items-center">
                              <div class="card-body text-black">
                                <h1 class="card-title text-center">Sobre</h1>
                                <p class="card-text text-center">
                                   Game Station é uma plataforma de jogos online que foi criada para ajudar os usuários
                                    a encontrar jogos que possam se divertir.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    t has survived not only five centuries, but also the leap into electronic typesetting, remaining
                                    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                                    PageMaker including versions of Lorem Ipsum.
                                </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Pills content -->
      </div>
   </div>
</div>
{% endblock %}
