{% load static %}
<!-- Main Content-->
        <div class="container container-post">
            <div class="row justify-content-center">
                <div class="">
                    <!-- Post preview-->
                    
                    <!-- Divider-->

                    <!--Postes-->

                    <div class="row">
                      <div class="col-md-1">.col-md-3

                      </div>
                      <div class="col-md-8">.col-md-8
                        <div class="post-preview">
                        {% for p in  post %}
                            <a href="{% url 'post' %}">
                                <h2 class="post-title">{{ post.titulo_post}}</h2>
                                
                                {{ post.conteudo_post }}
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">kh kjh jh asd</a>
                                on September 24, 2022
                            </p>
                        {% endfor %}
                    </div>
                      </div>
                      <div class="col-md-3">.col-md-3
                      </div>
                    </div>
                                        
                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>